<div id="changelogContainer">
    <div class="titleContainer">
        <h1 class="title">Notes de développement de l'application</h1>
    </div>

    <div id="release-notes">
        <section class="releaseNoteSection">
            <header class="timeline-decorator">
                <span class="version-badge bg-purple">0.0.1</span>
                <h2 class="version-date">10 Mars 2021</h2>
            </header>
            <ul class="changelog">
                <li>
                    <div class="badge badge-added">Added</div>
                    <div class="description">Lorem ipsum dolor sit <a href="#">amet</a>, consectetur adipisicing elit. A aut, consectetur cumque id nisi rerum voluptate! Architecto assumenda commodi esse fugit illum, magnam neque omnis quam, tenetur, unde vel voluptatum.</div>
                </li>
            </ul>
        </section>
    </div>
</div>

<script src="../assets/js/scripts/changelog.js"></script>