<div id="libraryContainer" style="display: none">
    <div id="sidebar">
        <div class="searchContainer">
            <form id="formSearchLibrary">
                <input type="text" id="searchInput" name="searchInput" placeholder="Rechercher un mod dans la bibliothèque...">
            </form>
        </div>
        <div class="libraryContainer">
            <ul class="libraryContent">
                <li class="modInstalled" data-mod-id="">
                    <div class="icon">
                        <img src="https://picsum.photos/24/24" alt="">
                    </div>
                    <div class="modTitle">Lorem Ipsum lorem 1</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="https://picsum.photos/24/24" alt="">
                    </div>
                    <div class="modTitle">Lorem Ipsum lorem 2</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="libraryContent">
        <div id="welcomeView">
            <section class="newsIncoming">
                <header>
                    <div class="headTitle">Nouveautés</div>
                    <div class="spacing"></div>
                </header>
                <div class="newsIncomingContent">
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                </div>
            </section>
            <section class="container-fluid libraryGrid">
                <header>
                    <div class="headTitle">Tous vos mods (86)</div>
                    <div class="spacing"></div>
                </header>
                <div class="libraryGridContent">
                    <div class="row row-cols-5">
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="../assets/js/scripts/library.js"></script>