<div id="libraryContainer" style="display: none">
    <div id="sidebar">
        <div class="searchContainer">
            <form id="formSearchLibrary">
                <input type="text" id="searchInput" name="searchInput" placeholder="Rechercher un mod dans la bibliothèque...">
            </form>
        </div>
        <div class="libraryContainer">
            <ul class="libraryContent">
                <li class="modInstalled" data-mod-id="">
                    <div class="icon">
                        <img src="https://picsum.photos/24/24" alt="">
                    </div>
                    <div class="modTitle">Lorem Ipsum lorem 1</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="https://picsum.photos/24/24" alt="">
                    </div>
                    <div class="modTitle">Lorem Ipsum lorem 2</div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="../assets/js/scripts/library.js"></script>