<div id="libraryContainer" style="display: none">
    <div id="sidebar">
        <div class="searchContainer">
            <form id="formSearchLibrary">
                <input type="text" id="searchInput" name="searchInput" placeholder="Rechercher un mod dans la bibliothèque...">
            </form>
        </div>
        <div class="libraryContainer">
            <ul class="libraryContent">
                <li class="modInstalled" data-mod-id="">
                    <div class="icon">
                        <img src="https://picsum.photos/24/24" alt="">
                    </div>
                    <div class="modTitle">Lorem Ipsum lorem 1</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="https://picsum.photos/24/24" alt="">
                    </div>
                    <div class="modTitle">Lorem Ipsum lorem 2</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="libraryContent">
        <div id="welcomeView" style="display:none;">
            <section class="newsIncoming">
                <header>
                    <div class="headTitle">Nouveautés</div>
                    <div class="spacing"></div>
                </header>
                <div class="newsIncomingContent">
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                    <a href="" class="card" style="width: 18rem">
                        <img src="https://picsum.photos/960/540" alt="dsds" class="card-img">
                        <div class="card-body">
                            <div class="card-title">Titre de la news</div>
                            <div class="card-datetime">Ven. 19 Mars 2021 15:15</div>
                        </div>
                        <div class="card-footer">
                            <img src="https://picsum.photos/24/24" alt="">
                            <span>Lorem Ipsum of data card</span>
                        </div>
                    </a>
                </div>
            </section>
            <section class="container-fluid libraryGrid">
                <header>
                    <div class="headTitle">Tous vos mods (86)</div>
                    <div class="spacing"></div>
                </header>
                <div class="libraryGridContent">
                    <div class="row row-cols-5">
                        <div class="col">
                            <a href="" class="element">
                                <img src="https://picsum.photos/1072/1618" alt="testing" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="gameView" style="display: block;">
            <img src="https://picsum.photos/1920/390" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Mod_Logo.svg/1200px-Mod_Logo.svg.png" alt="" class="gameLogo">
            <div class="topbar">
                <div class="topbar_left">
                    <button class="btn btn-primary">
                        <span class="iconify" data-inline="false" data-icon="ant-design:download-outlined"></span>
                        <span>Télécharger</span>
                    </button>
                    <div class="middleContent">
                        <div class="infoContainer">
                            <span class="iconify" data-inline="false" data-icon="bi:clock-history"></span>
                            <div class="text-container">
                                <div class="title">Date de publication</div>
                                <div class="subtitle">24 mars 2021</div>
                            </div>
                        </div>
                        <div class="infoContainer">
                            <span class="iconify" data-inline="false" data-icon="cil:fork"></span>
                            <div class="text-container">
                                <div class="title">Version Actuel</div>
                                <div class="subtitle">1.0</div>
                            </div>
                        </div>
                        <div class="infoContainer">
                            <span class="iconify" data-inline="false" data-icon="ant-design:check-circle-outlined"></span>
                            <div class="text-container">
                                <div class="title">Etat du mod</div>
                                <div class="subtitle text-green">Installé</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topbar_right">
                    <button class="btn btn-game-system">
                        <span class="iconify" data-inline="false" data-icon="ion:cog-sharp"></span>
                    </button>
                    <button class="btn btn-game-system">
                        <span class="iconify" data-inline="false" data-icon="zondicons:information-outline"></span>
                    </button>
                </div>
            </div>
            <div class="container-fluid">
                <nav>
                    <ul class="navblock">
                        <li class="nav-item"><a href="" class="navlink">Page du magasin</a></li>
                        <li class="nav-item"><a href="" class="navlink">Dernières News</a></li>
                        <li class="nav-item"><a href="" class="navlink">Changelog</a></li>
                        <li class="nav-item"><a href="" class="navlink">Gallerie</a></li>
                        <li class="nav-item"><a href="" class="navlink">Guides & Assistances</a></li>
                    </ul>
                </nav>
            </div>
            <div class="container-fluid">
                <div id="latestNewsModContainer" style="display: none">
                    <a href="" class="new_item">
                        <div class="card">
                            <img src="https://picsum.photos/330/190" alt="" class="img-responsive">
                            <div class="card-body">
                                <div class="card-header">
                                    <div class="title">Test d'une news</div>
                                    <div class="socialNav">
                                        <div class="item">
                                            <span class="iconify" data-inline="false" data-icon="bx:bxs-comment"></span> 1
                                        </div>
                                        <div class="item">
                                            <span class="iconify" data-inline="false" data-icon="ant-design:like-filled"></span> 7
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda deleniti eligendi ex nisi officiis quod, ratione repellat reprehenderit sed suscipit vitae, voluptas voluptatum! Amet distinctio doloremque itaque possimus quae?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="container-fluid">
                <div id="lastestChangeModContainer" style="display: none">
                    <div class="titleContainer">
                        <h1 class="title">Notes de développement de l'application</h1>
                    </div>

                    <div id="release-notes-mod" data-mod-id="1">
                        <section class="releaseNoteSection">
                            <header class="timeline-decorator">
                                <span class="version-badge bg-purple">0.0.1</span>
                                <h2 class="version-date">10 Mars 2021</h2>
                            </header>
                            <ul class="changelog">
                                <li class="changelog-item">
                                    <div class="badge badge-added">Added</div>
                                    <div class="description">Lorem ipsum dolor sit <a href="#">amet</a>, consectetur adipisicing elit. A aut, consectetur cumque id nisi rerum voluptate! Architecto assumenda commodi esse fugit illum, magnam neque omnis quam, tenetur, unde vel voluptatum.</div>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div id="galleryMod">
                    <div class="galleryModContainer">
                        <div class="row row-cols-5">
                            <div class="col"><img src="https://picsum.photos/1920/1080" alt="" class="img-gallery img-responsive"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal" class="modal-img">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
</div>

<script src="../assets/js/scripts/library.js"></script>