<div id="settingsContainer" style="display: none">
    <div class="settingContainerLeft">
        <div class="settingNavContainer">
            <div class="settingNavHeader">
                <span class="settingNavHeaderText">Configuration</span>
            </div>
            <div class="settingNavItemsContainer">
                <div class="settingNavItemsContent">
                    <button class="settingNavItem" data-action="tf2" selected>Configuration TF2</button>
                    <button class="settingNavItem" data-action="update">Mise à jours</button>
                    <div class="spacer"></div>
                    <button class="settingNavItem" data-action="changelog">Changelog</button>
                    <div class="settingNavContentBottom">
                        <div class="divider"></div>
                        <div id="settingNavDone">Terminer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="settingContainerRight">
        <div id="tf2" class="settingTab">
            <div class="settingTabHeader">
                <span class="headerText">Transport Fever 2</span>
                <span class="headerDesc">Configuration des paramètres de synchronisation avec Transport Fever 2</span>
            </div>
            <div class="settingTabContainer">
                <form action="" id="formUpTF2Config">
                    <label for="path_tf2" class="form-label">Dossier d'installation de TF2</label>
                    <input type="text" class="input" id="path_tf2" name="path_tf2" />
                    <label for="path_tf2_mod" class="form-label">Dossier d'installation des mods de TF2</label>
                    <input type="text" class="input" id="path_tf2_mod" name="path_tf2_mod" />
                    <button class="btn btn-primary" type="submit" id="btnSubmitFormUpConfig">Mettre à jour</button>
                </form>
            </div>
        </div>
        <div id="update" class="settingTab">
            <div class="settingTabHeader">
                <span class="headerText">Mise à jour</span>
                <span class="headerDesc">Configuration des mises à jours du launcher</span>
            </div>
            <div class="settingTabContainer">
                <form action="" id="formUpUpdateConfig">
                    <div class="form-group">
                        <label for="autoUpdate">
                            <input type="checkbox" name="launcher_auto_update" class="input" checked> Mise à jour automatique
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div id="changelog" class="settingTab">
            <div class="settingTabHeader">
                <span class="headerText">Note de Mise à jours</span>
                <span class="headerDesc">Note sur la dernière mise à jours du Launcher</span>
            </div>
            <div class="settingTabContainer">
                <div id="settingChangelogCurrentVersion">
                    <div class="settingChangelogCurrentVersionCheck">&#10003;</div>
                    <div class="settingChangelogCurrentVersionDetail">
                        <span class="currentVersionDetailTitle">Stable Release</span>
                        <div class="currentVersionDetailLine">
                            <span id="currentVersionDetailText">Version</span>
                            <span id="currentVersionDetailValue">0.0.2</span>
                        </div>
                    </div>
                    <div id="settingChangelogButtons">
                        <a href="https://github.com/trainznation/trainznation_app_tf2" id="settingChangelogSourceButton" class="btn btn-info">Source (GitHub)</a>
                        <a href="https://github.com/trainznation/trainznation_app_tf2/issues" id="settingChangelogSupportButton" class="btn btn-info">Support</a>
                        <a href="#" id="settingChangelogDevToolsButton" class="btn btn-info">DevTool</a>
                    </div>
                </div>
                <div class="settingChangelogContainer">
                    <div class="settingChangelogContent">
                        <div class="settingChangelogHeadline">
                            <div class="settingChangelogLabel">Note de Mise à jour</div>
                            <div class="settingChangelogTitle">Changelog</div>
                        </div>
                        <div class="settingChangelogText">Aucune Notes disponible</div>
                    </div>
                    <div class="settingChangelogActions">
                        <a href="#" class="btn btn-info settingChangelogButton">Voir la note de mise à jour sur github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/scripts/settings.js"></script>