<div id="shopContainer" style="display: none">
    <div class="shop_menu_container">
        <ul class="menu_left" id="shopMenu">
            <li class="menu_item active">
                <a href="" class="menu_link" data-filter="all">Tous</a>
            </li>
        </ul>
        <ul class="menu_right">
            <li class="menu_item">
                <a href="" class="menu_link artifact">
                    <img src="../assets/images/logo_artifact.png" alt="" class="logo_artifact_img">
                    <span class="logo_artifact_title">Artifact</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="shop_body">
        <div class="loader" style="display: none">&nbsp;</div>
        <div id="table_shop"></div>
        <button id="btnLoadMore" class="btn btn-outline-primary">Load More...</button>
    </div>
</div>
<script src="../assets/js/scripts/shop.js"></script>