<div id="shopContainer">
    <div class="shop_menu_container">
        <ul class="menu_left">
            <li class="menu_item active">
                <a href="" class="menu_link">Tous</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link">Ponts</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link">Batiments</a>
            </li>
            <li class="menu_item">
                <a href="" class="menu_link">Bus</a>
            </li>
        </ul>
        <ul class="menu_right">
            <li class="menu_item">
                <a href="" class="menu_link artifact">
                    <img src="../assets/images/logo_artifact.png" alt="" class="logo_artifact_img">
                    <span class="logo_artifact_title">Artifact</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="shop_body">
        <div id="table_shop">
            <a href="" class="tab_item">
                <div class="tab_item_cap">
                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1333910/capsule_184x69.jpg?t=1616329482" alt="">
                </div>
                <div class="tab_item_content">
                    <div class="tab_item_name">Test Mod</div>
                    <div class="tab_item_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="tab_item_tags">Catégorie</div>
                </div>
            </a>
            <a href="" class="tab_item">
                <div class="tab_item_cap">
                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1333910/capsule_184x69.jpg?t=1616329482" alt="">
                </div>
                <div class="tab_item_content">
                    <div class="tab_item_name">Test Mod</div>
                    <div class="tab_item_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="tab_item_tags">Catégorie</div>
                </div>
            </a>
            <a href="" class="tab_item">
                <div class="tab_item_cap">
                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1333910/capsule_184x69.jpg?t=1616329482" alt="">
                </div>
                <div class="tab_item_content">
                    <div class="tab_item_name">Test Mod</div>
                    <div class="tab_item_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="tab_item_tags">Catégorie</div>
                </div>
            </a>
            <a href="" class="tab_item">
                <div class="tab_item_cap">
                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1333910/capsule_184x69.jpg?t=1616329482" alt="">
                </div>
                <div class="tab_item_content">
                    <div class="tab_item_name">Test Mod</div>
                    <div class="tab_item_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="tab_item_tags">Catégorie</div>
                </div>
            </a>
        </div>
    </div>
</div>