<div id="shopInfoContainer" style="display: none">
    <div id="modalNewsModOverlay" style="display: none"></div>
    <div class="shopInfoContent">
        <div class="page_title_area">
            <div class="breadcrumbs">
                <div class="blockbg"></div>
            </div>
            <div class="headerContent">
                <div class="headerStandardTop">
                    <div class="appName"></div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="game_background_glow">
                <div class="page_content">
                    <div class="rightcol">
                        <div class="glance">
                            <div class="mod_header_image">
                                <img src="" alt="" class="mod_header_image_full">
                            </div>
                            <div class="mod_description_snippet"></div>
                            <div class="responsive_left">
                                <div class="review">
                                    <div class="review_summary_row">
                                        <div class="subtitle">Date de publication</div>
                                        <div class="summary">
                                            <span class="summary_text" data-flesh="date"></span>
                                        </div>
                                    </div>
                                    <div class="review_summary_row">
                                        <div class="subtitle">Dernière version</div>
                                        <div class="summary">
                                            <span class="summary_text" data-flesh="version"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="responsive_right">
                                <div class="tags">
                                    <div class="tags_label">Liste des tags associés à ce mod</div>
                                    <div class="tags_content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leftcol">
                        <div class="carousel_ctn">
                            <div class="carousel_overflow">
                                <div class="carousel_content">
                                    <div><img data-lazy="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_b20689e73e3ac19bcc5fad2c18d0353c769de144.600x338.jpg?t=1615811936" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_b20689e73e3ac19bcc5fad2c18d0353c769de144.600x338.jpg?t=1615811936" alt=""></div>
                                    <div><img data-lazy="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_1a556842c2aadb9354e690a5c114473acc935c30.600x338.jpg?t=1615811936" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_1a556842c2aadb9354e690a5c114473acc935c30.600x338.jpg?t=1615811936" alt=""></div>
                                    <div><img data-lazy="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_70a7e980a1824b2debae2e65c98b998676d2438f.600x338.jpg?t=1615811936" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_70a7e980a1824b2debae2e65c98b998676d2438f.600x338.jpg?t=1615811936" alt=""></div>
                                </div>
                                <div class="carousel_nav">
                                    <div><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_b20689e73e3ac19bcc5fad2c18d0353c769de144.116x65.jpg?t=1615811936" alt=""></div>
                                    <div><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_1a556842c2aadb9354e690a5c114473acc935c30.116x65.jpg?t=1615811936" alt=""></div>
                                    <div><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/ss_70a7e980a1824b2debae2e65c98b998676d2438f.116x65.jpg?t=1615811936" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_content_body">
            <div class="rightcol mod_meta_data">
                <div class="block" id="mod_meta_data">
                    <div class="detail_spec_container">
                        <div class="icon">
                            <span class="iconify" data-inline="false" data-icon="openmoji:motor"></span>
                        </div>
                        <a href="" class="name">Locomotive</a>
                    </div>
                    <div class="detail_spec_container">
                        <div class="icon">
                            <span class="iconify" data-inline="false" data-icon="subway:power"></span>
                        </div>
                        <a href="" class="name">Diesel</a>
                    </div>
                    <div class="detail_spec_container">
                        <div class="icon">
                            <span class="iconify" data-inline="false" data-icon="fluent:top-speed-20-regular"></span>
                        </div>
                        <a href="" class="name">125 Km/h</a>
                    </div>
                    <div class="detail_spec_container">
                        <div class="icon">
                            <span class="iconify" data-inline="false" data-icon="emojione-monotone:high-speed-train"></span>
                        </div>
                        <a href="" class="name">980 Kn</a>
                    </div>
                    <div class="detail_spec_container">
                        <div class="icon">
                            <span class="iconify" data-inline="false" data-icon="fluent:calendar-question-mark-20-regular"></span>
                        </div>
                        <a href="" class="name">1970 - 2004</a>
                    </div>
                </div>
            </div>
            <div class="leftcol mod_description_col">
                <div class="mod_area_download">
                    <div class="wrapper">
                        <div class="mod_area_download_mod">
                            <form id="formDownloadMod">
                                <input type="hidden" name="package" value="">
                                <input type="hidden" name="action" value="adding_library">
                            </form>
                            <h1 id="downloadTitleText"></h1>
                            <div class="mod_download_actions">
                                <div class="mod_download_actions_bg">
                                    <div class="btn_addtolibrary">
                                        <a href="" class="btn btn-success isDisabled" title="Disponible Bientôt"><span>Télécharger ce mod</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer" style="height: 5px;"></div>
                <section id="featureNews">
                    <div class="feature_news">
                        <header>Annonces et news concernant ce mod</header>
                        <div class="news_summary"></div>
                    </div>
                </section>
                <div class="spacer" style="height: 5px;"></div>
                <section id="modDescription">
                    <div class="mod_description_container">
                        <header>à propos de ce mod</header>
                        <div id="modDescriptionContent"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>