@import "~toastify-js/src/toastify.css";
@import "modules/variables";
@import "modules/global";
@import "modules/badge";
@import "modules/button";
@import "modules/dropdown";
@import "modules/loading";
@import "modules/topbar";
@import "modules/landing";
@import "modules/overlay";
@import "modules/settings";
@import "modules/shop";
@import "modules/changelog";

body, html, div {
  margin: 0;
  padding: 0;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

body, button {
  font-family: 'Bitstream Vera Sans', sans-serif;
  color: white;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.no-display {
  display: none;
}