@import "variables";
@import "utilities";
@import "scrollbar";
@import "badge";
@import "loading";
@import "button";
@import "dropdown";
@import "popover";
@import "card";
@import "grid";
@import "container";
@import "nav";
@import "carousel";
@import "modal";

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.2;
}

.tabHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.splide__slide img {
  width : 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

.bg-red {background-color: $red-color !important;}
.bg-pink {background-color: $pink-color !important;}
.bg-purple {background-color: $purple-color !important;}
.bg-deep-purple {background-color: $deep-purple-color !important;}
.bg-indigo {background-color: $indigo !important;}
.bg-blue {background-color: $blue !important;}
.bg-light-blue {background-color: $light-blue !important;}
.bg-cyan {background-color: $cyan !important;}
.bg-teal {background-color: $teal !important;}
.bg-green {background-color: $green !important;}
.bg-light-green {background-color: $light-green !important;}
.bg-lime {background-color: $lime !important;}
.bg-yellow {background-color: $yellow !important;}
.bg-amber {background-color: $amber !important;}
.bg-orange {background-color: $orange !important;}
.bg-deep-orange {background-color: $deep-orange !important;}
.bg-brown {background-color: $brown !important;}
.bg-grey {background-color: $grey !important;}
.bg-blue-grey {background-color: $blue-grey !important;}

.text-red {color: $red-color !important;}
.text-pink {color: $pink-color !important;}
.text-purple {color: $purple-color !important;}
.text-deep-purple {color: $deep-purple-color !important;}
.text-indigo {color: $indigo !important;}
.text-blue {color: $blue !important;}
.text-light-blue {color: $light-blue !important;}
.text-cyan {color: $cyan !important;}
.text-teal {color: $teal !important;}
.text-green {color: $green !important;}
.text-light-green {color: $light-green !important;}
.text-lime {color: $lime !important;}
.text-yellow {color: $yellow !important;}
.text-amber {color: $amber !important;}
.text-orange {color: $orange !important;}
.text-deep-orange {color: $deep-orange !important;}
.text-brown {color: $brown !important;}
.text-grey {color: $grey !important;}
.text-blue-grey {color: $blue-grey !important;}
