@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.popover {
  $pad: 1.5em;
  $bg-color: white;
  $border-color: #aaa;
  $arrow-pad: 8px;
  $arrow-size: 8px;
  $radius: 4px;

  padding: $pad;
  border: 1px solid $border-color;
  border-radius: $radius;
  background: $bg-color;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);

  &--top {
    margin-top: -$arrow-size - $arrow-pad;
    animation: .4s slide-top;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -$arrow-size;
      border: $arrow-size solid transparent;
      border-top-color: $bg-color;
    }

    &::before {
      margin-top: 1px;
      border-top-color: darken($border-color, 25%);
    }
  }

  &--right {
    margin-left: $arrow-size + $arrow-pad;
    animation: .4s slide-right;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -$arrow-size;
      border: $arrow-size solid transparent;
      border-right-color: $bg-color;
    }

    &::before {
      margin-right: 1px;
      border-right-color: darken($border-color, 25%);
    }
  }

  &--bottom {
    margin-top: $arrow-size + $arrow-pad;
    animation: .4s slide-bottom;

    &::before, &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -$arrow-size;
      border: $arrow-size solid transparent;
      border-bottom-color: $bg-color;
    }

    &::before {
      margin-bottom: 1px;
      border-bottom-color: darken($border-color, 25%);
    }
  }

  &--left {
    margin-left: -$arrow-size - $arrow-pad;
    animation: .4s slide-left;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -$arrow-size;
      border: $arrow-size solid transparent;
      border-left-color: $bg-color;
    }

    &::before {
      margin-left: 1px;
      border-left-color: darken($border-color, 25%);
    }
  }
}
