/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #160f32;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten(#160f32, 40%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(#160f32, 25%);
}