.tabHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.splide__slide img {
  width : 100%;
  height: auto;
}

.bg-red {background-color: $red-color;}
.bg-pink {background-color: $pink-color;}
.bg-purple {background-color: $purple-color;}
.bg-deep-purple {background-color: $deep-purple-color;}
.bg-indigo {background-color: $indigo}
.bg-blue {background-color: $blue}
.bg-light-blue {background-color: $light-blue}
.bg-cyan {background-color: $cyan}
.bg-teal {background-color: $teal}
.bg-green {background-color: $green}
.bg-light-green {background-color: $light-green}
.bg-lime {background-color: $lime}
.bg-yellow {background-color: $yellow}
.bg-amber {background-color: $amber}
.bg-orange {background-color: $orange}
.bg-deep-orange {background-color: $deep-orange}
.bg-brown {background-color: $brown}
.bg-grey {background-color: $grey}
.bg-blue-grey {background-color: $blue-grey}

.text-red {color: $red-color;}
.text-pink {color: $pink-color;}
.text-purple {color: $purple-color;}
.text-deep-purple {color: $deep-purple-color;}
.text-indigo {color: $indigo}
.text-blue {color: $blue}
.text-light-blue {color: $light-blue}
.text-cyan {color: $cyan}
.text-teal {color: $teal}
.text-green {color: $green}
.text-light-green {color: $light-green}
.text-lime {color: $lime}
.text-yellow {color: $yellow}
.text-amber {color: $amber}
.text-orange {color: $orange}
.text-deep-orange {color: $deep-orange}
.text-brown {color: $brown}
.text-grey {color: $grey}
.text-blue-grey {color: $blue-grey}
