#landingContainer {
  position: relative;
  width: 100%;
  padding: 80px 16px;
  margin: 0 auto;

  > #landingContent {
    width: auto;

    > #modalNewsOverlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.8);
      z-index: 1500;

      > .newsOverlayPage {
        transition: all 0.32s ease-in-out;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 25;
        outline: none;
        display: flex;
        flex-flow: column;

        > .newsBanner {
          width: 100%;
          background-color: #3d424c;
          background-image: radial-gradient(ellipse at bottom center, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0) 80%);
          display: flex;
          box-shadow: 0 0 10px black;
          z-index: 3;

          > .newsBanner_ctn {
            position: relative;
            overflow: hidden;
            width: 100%;

            > .newsBanner_ctn_background {
              position: absolute;
              width: 100%;
              height: 100%;
              filter: blur(60px) brightness(40%);
              opacity: 0.6;
              background: center/cover no-repeat;
              z-index: 1;
            }

            > .newsBanner_ctn_group {
              position: relative;
              z-index: 2;
              max-width: 866px;
              margin: 0 auto;
              width: 100%;
              height: 100%;
              padding: 7px 7px;
              box-sizing: border-box;
              display: grid;
              grid-auto-flow: row;
              grid-template-columns: 142px 1fr;
              grid-template-rows: 38px 28px;
              grid-column-gap: 15px;

              > .ctn_group_logo {
                border-radius: 3px;
                overflow: hidden;
                background: rgba(0, 0, 0, 0.2);
                height: 100%;
                box-sizing: border-box;
                display: block;
                grid-row-end: span 2;

                > .banner_logo {
                  height: 100%;
                  margin: 0;
                  display: block;
                }
              }

              > .ctn_group_title {
                font-size: 26px;
                line-height: 35px;
                font-weight: 100;
                text-shadow: 1px 1px 0 rgb(0 0 0 / 50%);
                color: white;
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
              }

              > .ctn_group_action {
                display: flex;
                align-self: end;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;

                > a {
                  padding: 2px 16px 2px 0;
                  color: #c5cedf;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                }
              }
            }
          }
        }

        > .newsBody {
          overflow-y: scroll;
          overflow-x: hidden;
          flex: 1;
          outline: none;

          > .newsCtnSection {
            position: fixed;
            top: 106px;
            margin-bottom: -138px;
            width: 100%;
            display: flex;
            justify-content: center;
            pointer-events: none;
            z-index: 1000;

            > .newsCtnSectionWidth {
              margin-left: auto;
              margin-right: auto;
              width: 890px;
              display: flex;

              > .newsCtnSectionRightSide {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                pointer-events: initial;
                max-width: 896px;

                > .closeBtn {
                  background-color: #44444b;
                  border: 1px solid #63636d;
                  padding: 8px;
                  cursor: pointer;
                  border-radius: 50%;
                  width: 32px;
                  height: 32px;
                  margin-bottom: 8px;
                  box-shadow: 0 3px 32px black;

                  &:hover, &:focus {
                    background-color: #575761;
                    border: 1px solid #9e9ead;
                  }

                  > svg {
                    fill: #ffffff;
                    overflow: visible;
                    width: 100%;
                    height: 100%;
                    max-width: 320px;
                    max-height: 320px;
                    transition: all .21s ease-out;
                  }
                }

                > .scrollBtn {
                  background-color: #44444b;
                  border: 1px solid #63636d;
                  border-radius: 4px;
                  cursor: pointer;
                  margin-bottom: 8px;
                  width: 48px;
                  height: 24px;
                  box-shadow: 0 3px 32px black;

                  > svg {
                    fill: #ffffff;
                    overflow: visible;
                    width: 100%;
                    height: 100%;
                    max-width: 320px;
                    max-height: 320px;
                  }

                  &:hover, &:focus {
                    background-color: #575761;
                    border: 1px solid #9e9ead;
                  }
                }
              }
            }
          }

          > .newsContainer {
            padding: 0px 20px;
            margin: 0 auto 80px;
            pointer-events: none;

            > .newsContainerDisplay {
              max-width: 848px;
              overflow: hidden;
              margin: 56px auto 16px auto;
              position: relative;
              background-color: #25282e;
              border-radius: 4px;
              background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
              box-shadow: 0 0 32px black;
              pointer-events: initial;
              border: 1px solid transparent;
              font-weight: 300;

              > .display_cover_background {
                display: block;
                min-width: unset;
                top: -51px;
                background-size: cover;
                background-position-x: center;
                background-position-y: -47px;
                background-repeat: no-repeat;
                height: 219px;
                margin-bottom: -51px;
                width: 100%;
                opacity: 1;
                position: relative;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                -webkit-mask-image: unset;
              }

              > .display_background_blur {
                filter: blur(32px) saturate(0.9);
                background-repeat: no-repeat;
                width: 100%;
                height: 68%;
                opacity: 0.2;
                position: absolute;
              }

              > .titleContainer {
                position: relative;
                overflow: hidden;
                box-shadow: 0 0 15px rgb(0 0 0 / 20%);

                > .titleContainerDetail {
                  padding: 16px 24px 12px 24px;
                  /* background-color: hsla(229, 5%, 47%, 0.2); */
                  background: radial-gradient(ellipse at bottom center, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0) 80%);

                  > .detailTypeAndTime {
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                  }

                  > .title {
                    color: white;
                    font-weight: 400;
                    font-size: 24px;
                    padding-top: 12px;

                    &:hover, &:focus {
                      color: $blue_grey
                    }
                  }

                  > .subtitle {
                    font-size: 17px;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    color: #ADAEB2;
                  }
                }
              }

              > .bodyContainer {
                padding: 24px;
                position: relative;
                z-index: 2;
                overflow: hidden;
                min-height: 300px;

                > .bodyContainerDetail {
                  border-right: unset;
                  position: relative;
                  padding-right: unset;
                  user-select: text;
                  max-width: unset;
                }
              }
            }
          }
        }
      }
    }

    > #sidebarContainer {
      position: fixed;
      width: 300px;
      top: 80px;
      bottom: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: row-reverse;
      z-index: 11;
      background-color: #30343b;
      box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
      overflow: auto;
      transition: transform 0.15s ease-in-out;
      will-change: transform;

      > .sidebar {
        width: 100%;
        box-sizing: border-box;
        padding: 32px 0 32px 20px;
        display: flex;
        flex-direction: column;
        min-height: 0;
        overflow-x: hidden;
        position: relative;

        > .controlList {
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;

          > .sidebar_background {
            position: absolute;
            top: -80px;
            left: -80px;
            opacity: .08;
            height: 400px;
            width: 400px;
            pointer-events: none;
            -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 100%);
            mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 100%);
          }

          > .sidebar_title {
            line-height: 30px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            word-wrap: break-word;
            word-break: break-word;
            font-size: 25px;
            text-align: left;
          }

          > .newsChannel {
            margin-top: 3vh;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            > .newsChannelList {
              display: flex;
              flex-direction: column;

              > a {
                pointer-events: auto;

                &:hover {
                  padding-right: 12px;
                  border-right: 4px solid #07bfff;
                  background: linear-gradient(30deg, rgba(7, 191, 255, 0.2) 0%, rgba(7, 191, 255, 0.1) 100%);
                }
              }

              > a .channelOnPage {
                padding: 4px 16px;
                margin-bottom: 2px;
                height: 54px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;

                > .channelText {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;

                  > .title {
                    color: #fff;
                    text-align: left;
                    font-size: 13px;
                  }

                  > .title .active {
                    color: #07f7ff;
                    font-weight: 600;
                  }

                  > .subtitle {
                    text-transform: none;
                    letter-spacing: 0;
                    color: #7e8187;
                    text-align: left;
                    font-size: 10px;
                  }

                  > .subtitle .active {
                    color: #07f7ff;
                  }
                }
              }

              > a .active {
                padding-right: 12px;
                border-right: 4px solid #07bfff;
                background: linear-gradient(30deg, rgba(7, 191, 255, 0.2) 0%, rgba(7, 191, 255, 0.1) 100%);
              }
            }
          }
        }
      }
    }

    > #rowContainer {
      width: 112%;
      transition: transform 0.15s ease-in-out;
      will-change: transform;

      > .Row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        > section {
          background-color: #7f88a0;

          > header {
            position: sticky;
            top: 0;
            height: 70px;
            z-index: 3;
            background: inherit;
            font-size: 24px;
            line-height: 39px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 50%);
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 16px 24px;

            > .title {
              width: 100%;
              box-sizing: border-box;
              max-width: 980px;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              color: #e5e5e5;
              font-size: 18px;
              font-weight: 300;
              letter-spacing: 2px;

              > .headerLine {
                margin-left: 8px;
                margin-right: 8px;
                border-top: 1px solid #373c44;
                flex-grow: 1;
                margin-top: 20px;
              }
            }
          }

          > .card {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 16px 24px;

            > .tileContainer {
              max-width: 980px;
              width: 100%;
              position: relative;
              box-sizing: border-box;
              margin-bottom: 10px;

              > a {
                > .tile {
                  position: relative;
                  border-radius: 3px;
                  background: radial-gradient(circle at top left, #3a404a 10%, #32353e 90%);
                  overflow: hidden;
                  box-shadow: 2px 2px 12px 2px rgb(0 0 0 / 0%);
                  transition: box-shadow .24s ease-in-out;

                  &:hover {
                    background: radial-gradient(circle at top left, #4f5764 0%, #454854 140%);
                  }

                  > .tileContent {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 100%;

                    > .tileContentText {
                      position: relative;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      padding: 12px;
                      color: var($red-color);
                      overflow: hidden;
                      width: 100%;
                      box-sizing: border-box;
                      height: 100%;

                      > .contentText_source {
                        display: flex;
                        flex-grow: 1;

                        > .contentText_source_head {
                          display: flex;
                          flex-direction: row;
                          font-size: 16px;
                          font-weight: 300;
                          color: #c6d4df;
                          max-height: 26px;

                          > .authorBlock {
                            cursor: pointer;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 4px;
                            margin: -4px 0 0px -4px;

                            > .authorBlock_avatar {
                              width: 16px;
                              height: 16px;
                              border-radius: 3px;
                            }

                            > .authorBlock_text {
                              padding: 0px 8px;
                              color: #c6d4df;
                            }
                          }
                        }
                      }

                      > .tileContentTitle {
                        font-size: 24px;
                        line-height: 26px;
                        color: #ffffff;
                        font-weight: 500;
                        word-break: break-word;
                        flex: none;
                        margin-bottom: 4px;
                        text-align: left;
                      }

                      > .tileContentCategory {
                        display: flex;
                        flex-direction: row;
                        margin-top: 6px;
                        margin-bottom: 4px;
                        font-size: 11px;
                        position: relative;
                        width: 100%;

                        > .tileContentCategory_text {
                          color: #b0ad92;
                        }

                        > .tileContentCategory_date {
                          color: #909da7;
                          text-transform: uppercase;
                          letter-spacing: 0.05em;
                          font-size: 11px;
                          margin-left: 10px;
                        }
                      }

                      > .tileContentSummary {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 19px;
                        color: #e4e8ec;
                        word-wrap: break-word;
                        word-break: break-word;
                        margin-top: 4px;
                      }
                    }

                    > .tileContentCover {
                      position: relative;
                      display: flex;
                      flex-direction: row;
                      justify-content: flex-end;
                      box-sizing: border-box;
                      padding: 12px;
                      flex-shrink: 0;

                      > .tileContentCoverEncapsule {
                        transition: height .24s ease-in-out;
                        height: 100%;
                        width: 30vw;
                        min-width: 250px;
                        max-width: 350px;
                        box-sizing: border-box;

                        > .tileContentCoverImage {
                          filter: blur(0px);
                          opacity: 1;
                          transition: filter .24s ease-in-out, opacity .24s ease-in-out;
                          height: 0;
                          padding-top: 56.25%;
                          background: #2d3138 center/cover no-repeat;
                          overflow: hidden;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        > .darken_background {
          background-color: #282b31;
        }
      }
    }
  }
}


@media (min-width: 1440px) {
  #landingContainer {
    padding-right: 234px;
  }
}

@media (min-width: 1220px) {
  #landingContainer {
    padding-left: 234px;
  }
}