#shopContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 16px;
  margin: 35px auto;

  > .shop_menu_container {
    width: 98%;
    height: 58px;
    display: flex;
    flex-direction: row;
    border-top: solid 1px #2C313D;
    border-bottom: solid 1px #2C313D;
    background-color: rgba(250,250,250,.2);

    > ul {
      list-style: none;

      > .menu_item {
        padding-left: 20px;
        padding-right: 20px;

        &:last-child {
          padding-right: 0;
        }

        > .menu_link {
          color: #fff;

          &:hover, &:focus {
            color: #e5e4e4;
            text-shadow: 0 0 11px rgb(212, 210, 210);
            filter: blur(0.8px);
          }
        }

        > .artifact {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 20px;

          > .logo_artifact_img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
        }
      }
    }

    > .menu_left {
      display: flex;
      flex: 1;
      justify-content: left;
      align-items: center;
    }

    > .menu_right {
      display: flex;
      justify-content: right;
      align-items: center;
    }
  }

  > .shop_body {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    > #table_shop {
      > .tab_item {
        position: relative;
        display: none;
        background: rgba( 0, 0, 0, 0.2 );
        height: 97px;
        margin-bottom: 5px;
        padding-left: 198px;
        -webkit-text-size-adjust: none;

        &:hover {
          background: rgba( 0, 0, 0, 0.4 );
        }

        > .tab_item_cap {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 3;
          line-height: 69px;
          transition: opacity 0.25s;

          > img {
            max-width: 169px;
          }
        }

        > .tab_item_content {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: 6px;
          font-size: 12px;

          > .tab_item_name {
            color: #c7d5e0;
            font-size: 1.25em;
            line-height: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            overflow: hidden;
            transition: color 0.25s;
          }

          > .tab_item_desc {
            color: #384959;
            line-height: 20px;
            font-size: 10px;
          }

          > .tab_item_tags {
            height: 20px;
            white-space: normal;
            overflow: hidden;
            color: #a1a1a1;
            font-size: 9px;
          }
        }
      }
    }
  }
}

#shopInfoContainer {
  min-height: 100%;
  height: auto;
  position: relative;

  > #modalNewsModOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 1500;

    > .newsOverlayPage {
      transition: all 0.32s ease-in-out;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 25;
      outline: none;
      display: flex;
      flex-flow: column;

      > .newsBanner {
        width: 100%;
        background-color: #3d424c;
        background-image: radial-gradient(ellipse at bottom center, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0) 80%);
        display: flex;
        box-shadow: 0 0 10px black;
        z-index: 3;

        > .newsBanner_ctn {
          position: relative;
          overflow: hidden;
          width: 100%;

          > .newsBanner_ctn_background {
            position: absolute;
            width: 100%;
            height: 100%;
            filter: blur(60px) brightness(40%);
            opacity: 0.6;
            background: center/cover no-repeat;
            z-index: 1;
          }

          > .newsBanner_ctn_group {
            position: relative;
            z-index: 2;
            max-width: 866px;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            padding: 7px 7px;
            box-sizing: border-box;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 142px 1fr;
            grid-template-rows: 38px 28px;
            grid-column-gap: 15px;

            > .ctn_group_logo {
              border-radius: 3px;
              overflow: hidden;
              background: rgba(0, 0, 0, 0.2);
              height: 100%;
              box-sizing: border-box;
              display: block;
              grid-row-end: span 2;

              > .banner_logo {
                height: 100%;
                margin: 0;
                display: block;
              }
            }

            > .ctn_group_title {
              font-size: 26px;
              line-height: 35px;
              font-weight: 100;
              text-shadow: 1px 1px 0 rgb(0 0 0 / 50%);
              color: white;
              margin: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              grid-column-start: 2;
              grid-column-end: 2;
              grid-row-start: 1;
              grid-row-end: 1;
            }

            > .ctn_group_action {
              display: flex;
              align-self: end;
              grid-column-start: 2;
              grid-column-end: 2;
              grid-row-start: 2;
              grid-row-end: 2;

              > a {
                padding: 2px 16px 2px 0;
                color: #c5cedf;
                display: flex;
                flex-direction: row;
                align-items: center;
              }
            }
          }
        }
      }

      > .newsBody {
        overflow-y: scroll;
        overflow-x: hidden;
        flex: 1;
        outline: none;

        > .newsCtnSection {
          position: fixed;
          top: 106px;
          margin-bottom: -138px;
          width: 100%;
          display: flex;
          justify-content: center;
          pointer-events: none;
          z-index: 1000;

          > .newsCtnSectionWidth {
            margin-left: auto;
            margin-right: auto;
            width: 890px;
            display: flex;

            > .newsCtnSectionRightSide {
              display: flex;
              flex-direction: column;
              margin-left: auto;
              pointer-events: initial;
              max-width: 896px;

              > .closeBtn {
                background-color: #44444b;
                border: 1px solid #63636d;
                padding: 8px;
                cursor: pointer;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                margin-bottom: 8px;
                box-shadow: 0 3px 32px black;

                &:hover, &:focus {
                  background-color: #575761;
                  border: 1px solid #9e9ead;
                }

                > svg {
                  fill: #ffffff;
                  overflow: visible;
                  width: 100%;
                  height: 100%;
                  max-width: 320px;
                  max-height: 320px;
                  transition: all .21s ease-out;
                }
              }

              > .scrollBtn {
                background-color: #44444b;
                border: 1px solid #63636d;
                border-radius: 4px;
                cursor: pointer;
                margin-bottom: 8px;
                width: 48px;
                height: 24px;
                box-shadow: 0 3px 32px black;

                > svg {
                  fill: #ffffff;
                  overflow: visible;
                  width: 100%;
                  height: 100%;
                  max-width: 320px;
                  max-height: 320px;
                }

                &:hover, &:focus {
                  background-color: #575761;
                  border: 1px solid #9e9ead;
                }
              }
            }
          }
        }

        > .newsContainer {
          padding: 0px 20px;
          margin: 0 auto 80px;
          pointer-events: none;

          > .newsContainerDisplay {
            max-width: 848px;
            overflow: hidden;
            margin: 56px auto 16px auto;
            position: relative;
            background-color: #25282e;
            border-radius: 4px;
            background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
            box-shadow: 0 0 32px black;
            pointer-events: initial;
            border: 1px solid transparent;
            font-weight: 300;

            > .display_cover_background {
              display: block;
              min-width: unset;
              top: -51px;
              background-size: cover;
              background-position-x: center;
              background-position-y: -47px;
              background-repeat: no-repeat;
              height: 219px;
              margin-bottom: -51px;
              width: 100%;
              opacity: 1;
              position: relative;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              -webkit-mask-image: unset;
            }

            > .display_background_blur {
              filter: blur(32px) saturate(0.9);
              background-repeat: no-repeat;
              width: 100%;
              height: 68%;
              opacity: 0.2;
              position: absolute;
            }

            > .titleContainer {
              position: relative;
              overflow: hidden;
              box-shadow: 0 0 15px rgb(0 0 0 / 20%);

              > .titleContainerDetail {
                padding: 16px 24px 12px 24px;
                /* background-color: hsla(229, 5%, 47%, 0.2); */
                background: radial-gradient(ellipse at bottom center, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0) 80%);

                > .detailTypeAndTime {
                  display: flex;
                  align-items: center;
                  padding-bottom: 10px;
                }

                > .title {
                  color: white;
                  font-weight: 400;
                  font-size: 24px;
                  padding-top: 12px;

                  &:hover, &:focus {
                    color: $blue_grey
                  }
                }

                > .subtitle {
                  font-size: 17px;
                  padding-bottom: 10px;
                  padding-top: 10px;
                  color: #ADAEB2;
                }
              }
            }

            > .bodyContainer {
              padding: 24px;
              position: relative;
              z-index: 2;
              overflow: hidden;
              min-height: 300px;

              > .bodyContainerDetail {
                border-right: unset;
                position: relative;
                padding-right: unset;
                user-select: text;
                max-width: unset;
              }
            }
          }
        }
      }
    }
  }

  > .shop_menu_container {
    width: 98%;
    height: 58px;
    display: flex;
    flex-direction: row;
    border-top: solid 1px #2C313D;
    border-bottom: solid 1px #2C313D;
    background-color: rgba(250,250,250,.2);

    > ul {
      list-style: none;

      > .menu_item {
        padding-left: 20px;
        padding-right: 20px;

        &:last-child {
          padding-right: 0;
        }

        > .menu_link {
          color: #fff;

          &:hover, &:focus {
            color: #e5e4e4;
            text-shadow: 0 0 11px rgb(212, 210, 210);
            filter: blur(0.8px);
          }
        }

        > .artifact {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 20px;

          > .logo_artifact_img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
        }
      }
    }

    > .menu_left {
      display: flex;
      flex: 1;
      justify-content: left;
      align-items: center;
    }

    > .menu_right {
      display: flex;
      justify-content: right;
      align-items: center;
    }
  }

  > .shopInfoContent {
    > .page_title_area {
      width: 940px;
      margin: 15px auto;

      > .breadcrumbs {
        color: #56707f;
        font-size: 12px;
        font-family: "Bitstream Vera Sans", sans-serif;
        font-weight: normal;
        padding-top: 10px;

        > .blockbg {
          > a {
            color: #8f98a0;

            &:hover {
              color: #a09d9d;
            }
          }
        }
      }

      > .headerContent {
        padding-top: 0;
        max-width: 948px;
        margin: 0 auto;

        > .headerStandardTop {
          background-image: none;
          background-repeat: repeat-x;
          padding-top: 0;
          margin: 0 auto;
          text-align: left;
          min-height: 46px;

          > .appName {
            font-family: "Bitstream Vera Sans", sans-serif;
            font-weight: normal;
            padding-left: 0;
            text-transform: uppercase;
            color: white;
            font-size: 26px;
            line-height: 32px;
            text-overflow: ellipsis;
          }
        }
      }
    }
    > .block {
      margin-bottom: 25px;
      > .game_background_glow {
        padding-bottom: 1px;
        background: url('https://store.cloudflare.steamstatic.com/public/images/v6/app/game_page_background_shadow.png?v=2') no-repeat bottom;
        margin: 0 auto;
        height: 420px;

        > .page_content {
          background: linear-gradient(to right, rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%);
          padding-bottom: 12px;
          width: 940px;
          margin: 0 auto;

          > .rightcol {
            width: 324px;
            margin-left: 0;
            float: right;

            > .glance {
              padding: 0;

              > .mod_header_image {
                margin-bottom: 7px;

                > .mod_header_image_full {
                  width: 324px;
                  height: 151px;
                }
              }

              > .mod_description_snippet {
                max-height: 111px;
                overflow: hidden;
                font-size: 13px;
                line-height: 18px;
                padding-right: 16px;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
              }

              > .responsive_left {
                > .review {
                  font-size: 12px;
                  color: #556772;
                  margin-top: 10px;

                  > .review_summary_row {
                    display: flex;
                    line-height: 16px;

                    > .subtitle {
                      text-transform: uppercase;
                      font-size: 10px;
                      padding-right: 10px;
                      min-width: 94px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                    }

                    > .summary {
                      > .summary_text {
                        color: #8f98a0;
                      }
                    }
                  }
                }
              }

              > .responsive_right {
                > .tags {
                  margin: 10px 0 0 0;
                  font-size: 10px;

                  > .tags_label {
                    line-height: 19px;
                    font-size: 12px;
                    color: #556772;
                  }

                  > .tags_content {
                    white-space: nowrap;
                    height: 22px;

                    > .app_tag {
                      display: inline-block;
                      line-height: 19px;
                      padding: 0 7px;
                      color: #67c1f5;
                      background-color: rgba( 103, 193, 245, 0.2 );
                      box-shadow: none;
                      margin-right: 2px;
                      border-radius: 2px;
                      cursor: pointer;
                      margin-bottom: 3px;
                      max-width: 200px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                }
              }
            }
          }

          > .leftcol {
            width: 616px;
            float: left;

            > .carousel_ctn {
              > .carousel_overflow {
                overflow: hidden;
                margin-right: 16px;
                position: relative;
              }
            }
          }
        }
      }
    }

    > .page_content_body {
      padding-bottom: 12px;
      width: 940px;
      margin: 0 auto;

      > .rightcol {
        width: 324px;
        margin-left: 0;
        float: right;

        > .glance {
          padding: 0;

          > .mod_header_image {
            margin-bottom: 7px;

            > .mod_header_image_full {
              width: 324px;
              height: 151px;
            }
          }

          > .mod_description_snippet {
            max-height: 111px;
            overflow: hidden;
            font-size: 13px;
            line-height: 18px;
            padding-right: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
          }

          > .responsive_left {
            > .review {
              font-size: 12px;
              color: #556772;
              margin-top: 10px;

              > .review_summary_row {
                display: flex;
                line-height: 16px;

                > .subtitle {
                  text-transform: uppercase;
                  font-size: 10px;
                  padding-right: 10px;
                  min-width: 94px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }

                > .summary {
                  > .summary_text {
                    color: #8f98a0;
                  }
                }
              }
            }
          }

          > .responsive_right {
            > .tags {
              margin: 10px 0 0 0;
              font-size: 10px;

              > .tags_label {
                line-height: 19px;
                font-size: 12px;
                color: #556772;
              }

              > .tags_content {
                white-space: nowrap;
                height: 22px;

                > .app_tag {
                  display: inline-block;
                  line-height: 19px;
                  padding: 0 7px;
                  color: #67c1f5;
                  background-color: rgba( 103, 193, 245, 0.2 );
                  box-shadow: none;
                  margin-right: 2px;
                  border-radius: 2px;
                  cursor: pointer;
                  margin-bottom: 3px;
                  max-width: 200px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }

      > .mod_meta_data {
        margin-top: 16px;
        overflow: hidden;

        > .block {
          background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
          padding: 16px;
          margin-bottom: 8px;
          margin-top: 0;

          > .detail_spec_container {
            font-family: Arial, Helvetica, sans-serif;
            color: #c6d4df;
            font-size: 12px;

            > .icon {
              position: absolute;
              width: 30px;
              min-height: 22px;
              padding-top: 5px;
              padding-left: 6px;
              height: 100%;

              > svg {
                width: 26px;
                height: 16px;
                vertical-align: top;
              }
            }

            > .name {
              margin-left: 37px;
              min-height: 22px;
              padding-top: 4px;
              padding-left: 8px;
              padding-right: 8px;
              line-height: 18px;
              background: rgba( 103, 193, 245, 0.1 );
              color: #67c1f5;
              display: block;
              border-radius: 1px;
            }
          }
        }
      }

      > .leftcol {
        width: 616px;
        float: left;

        > .carousel_ctn {
          > .carousel_overflow {
            overflow: hidden;
            margin-right: 16px;
            position: relative;
          }
        }
      }

      > .mod_description_col {
        font-size: 14px;
        color: #acb2b8;
        margin-top: 16px;

        > .mod_area_download {
          > .wrapper {
            margin-bottom: 28px;

            > .mod_area_download_mod {
              position: relative;
              background: -webkit-linear-gradient(
                              150deg
                      , rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
              background: linear-gradient(
                              -60deg
                      , rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
              border-radius: 4px;
              font-family: "Bitstream Vera Sans", sans-serif;
              font-weight: normal;
              font-size: 13px;
              color: #c6d4df;
              padding: 16px 16px 26px;
              margin-bottom: 28px;
              z-index: 1;

              > h1 {
                font-size: 21px;
                font-family: "Bitstream Vera Sans", sans-serif;
                font-weight: normal;
                color: #ffffff;
              }

              > .mod_download_actions {
                position: absolute;
                right: 16px;
                bottom: -17px;
                left: 16px;
                /* overflow-x: auto; */
                white-space: nowrap;
                text-align: right;

                > .mod_download_actions_bg {
                  height: 32px;
                  vertical-align: bottom;
                  display: inline-block;
                  padding: 2px 2px 2px 0;
                  border-radius: 2px;
                  -moz-border-radius: 2px;
                  white-space: nowrap;
                  font-size: 0;

                  > * {
                    font-size: 12px;
                    display: inline-block;
                    margin-left: 2px;
                    vertical-align: middle;
                  }

                  > .btn_addtolibrary {
                    position: relative;

                    > span {
                      border-radius: 2px;
                      display: block;
                      padding: 0 15px;
                      font-size: 15px;
                      line-height: 30px;
                    }
                  }
                }
              }
            }
          }
        }

        > #featureNews {
          .feature_news {
            margin: 30px 0 0 0;

            > header {
              font-family: "Bitstream Vera Sans", sans-serif;
              font-weight: 300;
              font-size: 14px;
              text-transform: uppercase;
              color: #fff;
              margin: 0 0 10px;
              letter-spacing: 2px;
              padding-top: 2px;
              line-height: 26px;
              background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/maincol_gradient_rule.png');
              background-repeat: no-repeat;
              background-position: bottom left;
            }

            > .news_summary {
              font-family: "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
              display: flex;
              margin-bottom: 5px;
              margin-top: 5px;

              > .summary_row {
                height: auto;
                margin-bottom: 8px;
                flex-grow: 1;
                flex-basis: 0;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                min-width: 200px;
                background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
                box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
                border-radius: 4px;

                &:not(:last-child) {
                  margin-right: 8px;
                }

                &:hover {
                  filter: blur(1px);
                  zoom: 1.2;
                }

                > .summary_news_bg {
                  width: 100%;
                  height: 100%;
                  background-size: cover;
                  filter: blur(30px);
                  position: absolute;
                  opacity: 0.4;
                }

                > .summary_news_content {
                  display: flex;
                  flex-direction: column;
                  height: 100%;

                  > .main_image_ctn {
                    width: 100%;
                    height: auto;
                    position: relative;
                    overflow: hidden;

                    > .main_image {
                      width: 100%;
                      height: auto;
                      position: relative;
                      left: 0;
                      transition: transform 0.4s ease-out;
                      top: 0;
                      display: block;
                    }
                  }

                  > .text_ctn {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    bottom: 0;
                    height: 61px;
                    padding: 12px;
                    text-align: left;
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 13px;
                    box-sizing: content-box;

                    > .title {
                      font-size: 15px;
                      line-height: 19px;
                      color: #ffffff;
                      max-height: 39px;
                      margin-bottom: 4px;
                      overflow: hidden;
                    }

                    > .date {
                      display: inline-flex;
                      white-space: nowrap;
                    }
                  }
                }
              }

              > .summary_row_not_content_container {
                display: flex;
                flex-direction: row;
                width: inherit;
                border: solid 1px #607D8B;
                border-radius: 10px;
                box-sizing: border-box;
                margin: inherit;
                padding: 15px;
                align-items: center;

                > .icon svg {
                  width: 55px;
                  height: 55px;
                  margin: 0 15px;
                  color: lighten($primary, 40%);
                }

                > .text {
                  font-size: 30px;
                  margin-left: 15px;
                  text-align: center;
                }
              }
            }
          }
        }

        > #modDescription {
          > .mod_description_container {
            line-height: 1.5em;
            font-size: 14px;
            margin-top: 30px;
            overflow: hidden;
            font-family: "Bitstream Vera Sans", sans-serif;
            font-weight: normal;

            > header {
              font-family: "Bitstream Vera Sans", sans-serif;
              font-weight: 300;
              font-size: 14px;
              text-transform: uppercase;
              color: #fff;
              margin: 0 0 10px;
              letter-spacing: 2px;
              padding-top: 2px;
              line-height: 26px;
              background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/maincol_gradient_rule.png');
              background-repeat: no-repeat;
              background-position: bottom left;
            }
          }
        }
      }
    }
  }
}